* {
    margin:  0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
}

body{
    background-image: linear-gradient( rgb(2, 3, 20), rgba(0, 0, 0, 0.8));
    color: white;
}
header{
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.logo{
    color: white;
    text-decoration: none;
    padding: 20px;
    font-size: 25px;
   
}
.logo span{
    color: rgb(255, 196, 0);
}
nav{
    padding: 20px;
    justify-content: space-between;
    display: flex;
    font-size: 18px;
    
}
nav a{
    color: white;
    text-decoration: none;
    justify-content: space-between;
    display: flex;
    margin-right: 30px;
    transition: transform 0.3s ease-in-out;
    
}
nav a:hover{
    color:rgb(255, 196, 0) ;
    transform: scale(1.2);
   
}
.home{
    display: flex;
}
.text h1{
    font-size: 120px;
    padding-left: 80px;
    padding-top: 80px;
}
.text h1 span{
    color:rgb(255, 196, 0) ;
}
.text h2{
    padding-left: 80px;
    font-size: 50px;
    font-weight: 50;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    overflow: hidden;
    height: 3rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#ffe605, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin-left: 260px;
    margin-top: 20px;
    
  }
  
  #container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
   
  }
  
  strong {
    z-index: 2;
    font-family: 'Avalors Personal Use';
    font-size: 12px;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-shadow: 0 0 4px white;
  }
  
  #glow {
    position: absolute;
    display: flex;
    width: 12rem;
  }
  
  .circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
  }
  
  .circle:nth-of-type(1) {
    background: rgba(255, 217, 1, 0.636);
  }
  
  .circle:nth-of-type(2) {
    background: rgba(251, 255, 0, 0.704);
  }
  
  .btn:hover #container-stars {
    z-index: 1;
    background-color: #212121;
  }
  
  .btn:hover {
    transform: scale(1.1)
  }
  
  .btn:active {
    border: double 4px #ffbb00;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
  }
  
  .btn:active .circle {
    background: #ffd000;
  }
  
  #stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
  }
  
  #stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
  }
  
  #stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
  }
  
  #stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
  }
  
  #stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
  }
  
  @keyframes animStar {
    from {
      transform: translateY(0);
    }
  
    to {
      transform: translateY(-135rem);
    }
  }
  
  @keyframes animStarRotate {
    from {
      transform: rotate(360deg);
    }
  
    to {
      transform: rotate(0);
    }
  }
  
  @keyframes gradient_301 {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes pulse_3011 {
    0% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
  
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  
    100% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
.image img{
    width: 350px;
    height: 350px;
    border-radius: 40px;
    margin-top: 100px;
    margin-left: 150px;
    border: 7px rgb(255, 196, 0) solid;
}
.image img:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
.about h1{
    font-size: 60px;
    padding-left: 80px;
    padding-top: 90px;
    color: rgb(255, 196, 0);
}
.about p{
    padding-left: 80px;
    font-size: 40px;
}
@media (max-width:600px){
  
 body{
   overflow-x: hidden; 
   background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 31%, rgba(3,3,15,1) 75%, rgba(22,59,66,1) 100%);
 }
  .home{
   
    display: block;
  }
  
  .text h1{
    font-size: 65.0px;
    padding: 0;
    margin: 0;
}
.text h2{
  padding: 0;
   margin: 0;
  font-size:25px;
  font-weight: 50;
  margin-bottom: 12px;
}
.text{
  margin: auto;
  text-align: center;
  padding-top: 60px;
 }
 .btn{
  margin: auto;
}
.image img{
  width: 230px;
  height: 230px;
  margin: 0;

}
.image{
  text-align: center;
  margin-top: 50px;
}
.about{
  text-align: center;
}
.about p{
  padding: 0px;
  font-size: 20px;
}
.about h1{
padding: 0;
margin: 0;
}

}